@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, hsl(273, 75%, 66%) 0, hsl(240, 73%, 65%) 100%) no-repeat;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: 0;
}
nav a p {
  display: none;
}

.card {
  position: relative;
  width: 80%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  margin: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 10px 0px rgba(29, 30, 53, 0.75);
}
.card::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 100%;
  display: block;
  background: url("../images/bg-pattern-mobile.svg") no-repeat center;
  background-size: contain;
  left: 0;
  top: 0;
}
.card * {
  z-index: 2;
}
.card .image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .image img {
  position: absolute;
  right: 0;
}
.card .faq {
  padding: 25px;
}
.card .faq h1 {
  font-size: 40px;
  font-weight: 700;
}

#box {
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 3;
  left: -60px;
  bottom: 80px;
  transition: all 1s ease-in-out;
}

.tabs .tab {
  width: 100%;
  color: hsl(237, 12%, 33%);
  overflow: hidden;
  border-bottom: 1px solid hsl(240, 6%, 90%);
}
.tabs .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  font-weight: 700;
  cursor: pointer;
}
.tabs .tab-label:hover {
  color: hsl(14, 88%, 65%);
}
.tabs .tab-label::after {
  content: "";
  width: 1em;
  height: 1em;
  background: url("../images/icon-arrow-down.svg") no-repeat center;
  text-align: center;
  transition: all 0.35s;
}
.tabs .tab-content {
  max-height: 0;
  padding: 0 1em;
  background: white;
  transition: all 0.35s;
}
.tabs .tab-content p {
  font-size: 12px;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input:checked + .tab-label {
  color: hsl(14, 88%, 65%);
}
input:checked + .tab-label::after {
  transform: rotate(180deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 0 0 10px;
}

.d-grid {
  display: grid;
}

.center {
  place-items: center;
}

p {
  font-size: 15px;
}

.mb--15 {
  margin: 0 0 15px;
}

.p--15 {
  padding: 15px;
}

.txt--darkgray {
  color: hsl(237, 12%, 33%);
}
.txt--white {
  color: #fff;
}
.txt--center {
  text-align: center;
}

@media (min-width: 850px) {
  .card {
    width: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 25px auto;
  }
  .card::after {
    width: 50%;
    height: 130%;
    background: url("../images/bg-pattern-desktop.svg") no-repeat right;
    background-size: cover;
    top: -20%;
  }
  .card .faq {
    margin: 25px 0;
  }
}
@media (min-width: 1024px) {
  nav a {
    grid-template-columns: auto auto;
    gap: 0 10px;
  }
  nav a p {
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */