* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: rgb(28, 32, 50);
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  top: 0;
  a {
    grid-template-columns: auto auto;
    gap: 0 10px;
  }
}

.cont {
  &-wrap{
    width: 80%;
    margin: 50px auto 0;
  }
  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    .card {
      @extend .d-grid;
      flex: 1 1 256px; /*  Stretching: */
      flex: 0 1 256px; /*  No stretching: */
      gap: 10px 0;
      border-radius: 20px;
      *:nth-child(4) {
        text-align: right;
      }
      img {
        width: 100%;
        height: auto;
      }
      .info {
        @extend .p--15, .d-grid;
      }
      &:hover {
        box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
        transform: scale(1.10, 1.10);
      }
    }
  }
}

.d {
  &-flex {
    display: flex;
  }
  &-grid {
    display: grid;
  }
}

.center {
  place-items: center;
}

#items {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
  input {
    display: none;
  }
}

.txt {
  &--gray {
    color: #8d8d8d;
  }
  &--center {
    text-align: center;
  }
}

.m {
  &b {
    &--15 {
      margin: 0 0 15px;
    }
  }
}
.p {
  &--15 {
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  .cont {
    &-wrap{
      width: 1024px;
      margin: 30px auto 0;
    }
  }
}